# Ignore everything
*

# But not these files...
!.error.php
!.gitignore
!.handler.php
!.images
!.index.php
!.list.php
!.rss.php
!.script.js
!.sorttable.js
!.style.css
!.upload.php
!README.md
!CHANGELOG.md
!CONTRIBUTORS
!LICENSE
